---
layout: default
---
<div class="post">
  <header class="post-header">
    <meta name="google-site-verification" content="y6x0WfiGBk-eYpF-i8bjAAoU2QEEqVK04J1CGlP0U4E" />
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
